body {
  font-family: Helvetica;
  margin: 0;
}

header {
  background: linear-gradient(to bottom, #064f8f, #043B6B);
  color: white;
  padding: 40px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 32px;
  font-weight: bold;
}

main {
  list-style: none;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: white;
  background: linear-gradient(to bottom, #083368, #05254d);
  padding: 40px 20px;
}

.sections-row {
  background: #a6a8ad;
  font-size: 25px;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  border-top: 1px solid #8c8c8c;
}

.sections-row section {
  flex: 1;
  padding: 40px 20px;
  background: linear-gradient(to bottom, #f1f1f1, #e5e5e5);
  border: 3px solid #51515a;
  border-radius: 18px;
}

section input {
  width: 60%;
  padding: 8px; 
  font-size: 16px;
}

section button {
  padding: 6px
}

footer {
  background: linear-gradient(to bottom, #083368, #05254d);
  color: white;
  padding: 30px 20px;
}

footer p {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}